/* Global styles for the entire document */
html,
body {
    background-color: #000000;
    /* Background color for the entire page */
    color: #EAFBEB;
    /* Text color */
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    /* Font family for the entire page */
}

/* Styles for the main body container */
.body {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Styles for the sidebar */
.sidebar {
    width: 19%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the main content area */
.main-content {
    width: 80%;
    height: 100%;
}

/* Styles for the sidebar navigation */
.sidebar-nav {
    width: 92%;
    height: 95%;
    border-radius: 20px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Styles for the main navbar */
.navbar {
    width: 80%;
}

/* Styles for the first line of the navbar */
.line-1 {
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #209eaa;
    /* Color for specific text in the navbar */
}

/* Styles for the second line of the navbar */
.line-2 {
    height: 40%;
    display: flex;
    flex-direction: column;
}

/* Styles for the third line of the navbar */
.line-3 {
    height: 30%;
}

/* Styles for the second navbar within the sidebar */
.second-navbar {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    line-height: 12px;
}

/* Styles for images within the second navbar */
.second-navbar>img {
    margin-right: 10px;
}

/* Styles for the third navbar within the sidebar */
.third-navbar {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    line-height: 12px;
}

/* Styles for images within the third navbar */
.third-navbar>img {
    margin-right: 10px;
}

/* Styles for the header section */
.header {
    background-color: #080808;
    width: 100%;
    height: 20vh;
    margin-top: 5px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Styles for individual items within the header */
.headerItem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the user name and bell icon in the header */
.userName-bellIcon {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: larger;
}

/* Styles for the bell icon */
.bell {
    margin-right: 40px;
    width: 30px;
}

/* Styles for the profile picture */
.profile-pic {
    height: 80%;
    margin-right: 30px;
}

/* Styles for the new upload share button in the header */
.new-upload-share-button {
    grid-column: -4/span 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Styles for the general button */
.btn {
    width: 100px;
    height: 50%;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background-color: #072022;
    border-style: solid;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

/* Styles for button hover state */
.btn:hover {
    background-color: #27C0CE;
    color: #000000;
    transform: translateY(-4px);
}

/* Styles for button active state */
.btn:active {
    transform: translateY(4px);
}

/* Styles for user name and profile picture section in the header */
.userName-profilePic {
    grid-column: -8;
    grid-row: 2;
}

/* Styles for different portions of the user name and profile picture section */
.userName-profilePic-name-portion {
    color: #27C0CE;
    font-size: large;
    font-weight: bolder;
    margin-right: 20px;
}

.userName-profilePic-userName-protion {
    font-style: italic;
}

/* Styles for specific grid column spans */
.grid-col-span-4 {
    grid-column: span 4;
}

.grid-col-span-3 {
    grid-column: span 3;
}

/* Styles for the search bar */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the search bar image */
.search-bar>img {
    margin-right: 20px;
}

/* Styles for the input placeholder */
input::placeholder {
    color: white;
    padding-left: 20px;
}

/* Styles for the form container */
.form {
    --timing: 0.3s;
    --width-of-input: 80%;
    --height-of-input: 50%;
    --border-height: 2px;
    --input-bg: rgb(44, 44, 44);
    --border-color: #27C0CE;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

/* Styles for the input field */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    color: white;
}

/* Styles for the border animation before the input field */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Styles for the input field focus state */
input:focus {
    outline: none;
}

/* Styles for the border animation when the form is focused within */
.form:focus-within:before {
    transform: scale(1);
}

/*Style for the main container which contains the projects and all*/
.grid-content-template
{
    background-color: #080808;
    width: 100%;
    height: 75vh;
    margin-top: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}

/*Style for the grid container items*/
.grid-content-template-item
{
    width: 100%;
    height: 100%;
    border: 1px solid #072022;
    border-radius: 15px;
    font-weight: bolder;
}

/*Style for the first grid Item*/
.new-users
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #072022;
}

/*First grid item inside style*/
.new-users-line
{
    display: flex;
    flex-direction: row;
}

/*First grid items images style*/
.more
{
    margin-left: 10px;
}
/*First grid items images style*/
.trending-up
{
    margin-right: 10px;
}

/*Style for the second grid item*/
.new-messages
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #072022;
}

/*Second grid item inside style*/
.new-messages-line
{
    display: flex;
    flex-direction: row;
}
/*Style for the third grid item*/
.sales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #072022;
}

/*third grid item inside style*/
.sales-line {
    display: flex;
    flex-direction: row;
}
/*Style for the forth grid item*/
.conversion-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #072022;
}

/*forth grid item inside style*/
.conversion-rate-line {
    display: flex;
    flex-direction: row;
}

.announcement
{
    grid-column: 5/span 2;
    grid-row: -4/ span 3;
}